/* Add the following CSS to your Navbar.css */

.navbar-brand-container {
  display: flex;
  align-items: center;

}
.dropdown:hover{
     color: black;
}
body{
  background-color: #fff7f6;
}
.navbar{
  padding: 0 60px;
  background-color: #fff7f6;
}
.collapse{
  flex-direction: row-reverse;
}
.logo{
  width: 50px;
}
.logo-name{
  padding-left: 20px;
  color: #46259a;
}


.navbar .nav-item:not(:last-child) {
  padding-right: 35px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}


/* Add the following CSS to your Navbar.css */

/* Styling for the dropdowns on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Optional: If you want to change the appearance of the dropdowns on hover */
.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Optional: To improve user experience by adding a slight delay to the dropdown appearance */
.dropdown {
  transition: all 0.3s ease;
  color: black;
}

/* Optional: Add some spacing between the dropdown items */
.dropdown-menu {
  padding: 10px;
}

.nav-link{
  color: #46259a;
}


