/* Optional: Add custom styles for the carousel */
.custom-shape-divider-bottom-1691595857 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1691595857 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 158px;
  /* background-color: red; */
}

.custom-shape-divider-bottom-1691595857 .shape-fill {
  fill: #FFFFFF;
}

.carousel-item {
  text-align: center;
}

.carousel-container {
  background: rgb(52, 53, 121);
}

/* Optionally style the custom navigation arrows */
button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #fb0000;
  cursor: pointer;
}

button:focus {
  outline: none;
}


body {
  margin: 0;
  padding: 0;
}

/* Update the CarouselComponent.css with the following styles */




.slick-slider {
  width: 100%;
}

.slick-slide img {
  width: 100%;
  height: 700px;
  max-height: 900px;
  /* Set the maximum height of the carousel items, adjust as needed */
  object-fit: cover;
  opacity: 0.4;
  /* Ensures images maintain aspect ratio and cover entire container */
}